*{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    background-color: midnightblue;
    background: url('https://mixmag.net/assets/uploads/images/_facebook/warehousescenepic.jpg') fixed;
    color: gold

  }
  
  header{
    width: 95%;
    padding: 40px 0;
    color: darkgoldenrod;
    font-size: 25px;
  }


  
  .logo{
    height:90px;
    width: 110px;
    border: 1px solid gray;
    text-align:center;
    line-height: 80px;
    color: #ebca52;
  }
  
  header ul li{
    padding: 10px 15px;
    list-style: none;
    text-align: center;
    border: 1px solid grey;
  }
  
  header ul{
    margin: 40px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
  }
  
  main{
    position: relavtive;
    top: 200px;
    width: 100%;
  }
  
  .quizStart{
    display: block;
    align-items: center;
  }
  
  h1{
    text-align: center; 
  }
  
  .quizStart button{
    padding: 10px;
    border: none;
    background-color:palevioletred;
    color: gold;
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .quizStart button:hover{
    background-color: black;
  }
  
  main section{
    display:flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
    border-bottom: 1px solid gray;
  }
  
  .questionAnswerForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .questionAnswerForm h2 {
    display: inherit;
  }
  
  .questionAnswerForm button{
    padding: 10px;
    border: none;
    background-color:palevioletred;
    color: gold;
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .questionAnswerForm button:hover{
    background-color: black;
  }

  .end-section, .popup-box{
    font-size: 20px;
    background-color:palevioletred;
 }

 .end-section{
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 500px;
}

.quiz-box{
  margin: 0 auto;
  max-width: 600px;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 5px 5px #a3c2c2;
  position: relative;
}


.quizStart {
  display: block;
  text-align: center;
  width: 50%;
  margin-top: 150px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: gold;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: normal;
}
button {
  padding: 20px;
  border: none;
  background-color: rgb(131, 12, 57);
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 40px
}
button:hover, button:focus {
  background-color: #363946;
  color: #ebca52
}
main div {
  margin: 0 auto;
}
label:nth-child(1) {
  background-color: rgb(65, 7, 77)
}
label:nth-child(2) {
  background-color: rgb(118, 10, 133)
}
label:nth-child(3) {
  background-color: rgb(207, 24, 100)
}
label:nth-child(4) {
  background-color: rgb(128, 7, 73)
}
label {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px
}
label:hover, label:focus {
  background-color: rgb(180, 178, 17)
}
fieldset {
  border: none;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
input:checked {
  border: 8px solid #ebca52;
}
input[type=radio] {
  flex: 0 0 auto;
  margin-right: 10px;
}
h2 {
  text-align: left;
  margin-bottom: 40px;
  color: gold;
  text-transform: uppercase
}
form button {
  padding: 20px;
  border: none;
  background-color: #ebca52;
  color: #363946;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
form button:hover, form button:focus {
  background-color: #363946;
  color: #ebca52
}
.answer {
  flex: 1 1 auto;
}
.questionAnswerForm {
  display: none;
  width: 50%;
}
.correctFeedback {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to bottom, rgb(117, 54, 129) 0%, rgb(228, 80, 161) 100%);
  padding-top: 40px
}
.correctFeedback button {
  width: 100%
}
.correctFeedback p {
  font-size: 1.5em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px
}
.correctFeedback span {
  color: whitesmoke;
}
.correctFeedback img {
  width: 150px;
  height: auto;
  display: block;
  border-radius: 50%;
  background-color: mediumvioletred;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px
}
h3 {
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 20px;
}
.results img {
  width: 150px;
  height: auto;
}
.results p:first-of-type {
  font-size: 25px;
  margin-bottom: 10px
}
.results p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0
}
.restartButton {
  margin-top: 40px
}
@media screen and (max-width: 1190px) {
  .questionAnswerForm,
  .quizStart {
      width: 80%;
      margin-bottom: 100px
  }
}
@media screen and (max-width: 768px) {
  .logo {
      width: 120px;
      height: 120px;
      display: block;
      margin: auto;
  }
  header ul {
      margin: 10px;
      text-align: center
  }
  h1 {
      font-size: 1.5em
  }
  header ul li {
      padding: 10px;
      font-size: 18px
  }
  .col-4,
  .col-8 {
      width: 100%
  }
  .quizStart {
      width: 100%;
      padding: 40px;
      margin-top: 0
  }
  h2 {
      font-size: 18px
  }
  .questionAnswerForm {
      width: 100%;
      padding: 20px;
      margin-top: 0
  }
  label {
      font-size: 16px;
      padding: 15px
  }
  .correctFeedback img {
      width: 100px;
      height: auto
  }
  .correctFeedback p {
      font-size: 16px;
      margin: 0 15px
  }
  .results p:first-of-type {
      font-size: 18px
  }
  h3 {
      font-size: 25px
  }
}
